/* 根据您的logo的选择器名称进行调整 */
.logo {
  border-radius: 50%;
  width: 50px; /* 调整为您的logo宽度 */
  height: 50px; /* 调整为您的logo高度 */
  object-fit: cover; /* 填充并保持比例 */
}

img:active {
  transform: scale(1.25, 1.25);
  opacity: 1;
  z-index: 999;
  border: 1px solid var(--border);
}

/* img {
  opacity: 1;
  border-radius: 50%;
  border: 1px solid var(--border);
}

.dark img {
  opacity: 0.8;
  border: 1px solid var(--border);
}

img:active {
  transform: scale(1.25, 1.25);
  opacity: 1;
  z-index: 999;
  border: 1px solid var(--border);
} */


/* 调整分类和标签页面标题与第一行内容的间距的样式 */
.mt-1 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 0rem;
}

